<header>
  <nav class="bg-primary text-white p-2">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-white active" aria-current="page" routerLink=""
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/first">First</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/second">Second</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#" (click)="$event.preventDefault(); goToContact()">Contact</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet />
